html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, p, ul, figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* overflow-x: hidden; */
  background-color: black;
  overflow: hidden;
}

.video {
  height: 100vh;
  width: 100vw;
}
